{# 스타일시트 호춣하기 공백은 꼬박꼬박 잘 넣어준다. #}
{# load static 제거한다 #}
{% extends 'base.html' %}
{% block content %}
{# 신 VERSION #}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'pybo:detail' question.id %}"> {{ question.subject }}  (답변갯수 : {{ question.answer_set.count }})</a>
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
        <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>

</div>
{# 기존 VERSION #}
<br>
<br>
<br>
<h3># 기존 VERSION #</h3>
{% if question_list %}

    {# this won't be rendered #}
    <ul>
    {% for question in question_list %}
        <li><a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}_{{question.create_date}}</a></li>
    {% endfor %}


        <li  style="color:red;list-style:none;"><br/><br/>만약에  % url 'detail' question_id=question.id page=2 % 쓰면
            <br/>오픈하는 페이지에 파라미터를 2개 전달가능!
            <br/>단지 공백뒤에 SecondParamKeyName=SecondParamValue 추가추가해주면 됨.</li>
    </ul>
{% else %}
    <p>질문이 없습니다.</p>
{% endif %}
{% endblock %}
<!--base.html 템플릿을 상속하기 위해  extends 'base.html'  처럼 extends 템플릿 문법을 사용했다. -->
<!--이렇게 하면 이제 question_list.html은 base.html 템플릿을 상속받아 표준 HTML문서로 바뀌게 된다.-->